<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>

<body>
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="assets/mp4/bg.mp4" type="video/mp4" />
    </video>
    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h2 class="fst-italic lh-1 mb-4">Compra Tu nueva vivienda</h2>
            </div>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let homesSale of dataHomeSale; let i = index" class="col mb-5">
                    <div class="card h-100">
                        <div *ngIf="homesSale['isSale']" class="badge 
                         text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                        </div>
                        <img class="card-img-top" [src]="homesSale['img']" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder"> {{homesSale['name']}}</h5>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <span *ngIf="homesSale['isSale']"  class="text-muted text-decoration-line-through">{{homesSale['valorBefore']}}</span>
                                {{homesSale['valor']}}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" (click)="changeOfView(homesSale['id'])">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">Mas Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>